
{% block content %}

          <hr class="border-gray-800 mt-5 mb-5 md:my-8 h-2" />

           <div class="bg-transparent sm:py-5 ">
            <div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80" aria-hidden="true">
                <div class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
              </div>
            <div class="mt-4 mx-auto max-w-7xl px-2 lg:px-8">
              <h1 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Lo m&aacute;s buscado</h1>
              <div class="mx-auto mt-10 grid max-w-lg grid-cols-4 items-center gap-x-8 gap-y-10 sm:max-w-xl sm:grid-cols-6 sm:gap-x-10 lg:mx-0 lg:max-w-none lg:grid-cols-5">
                <a href="{% url "shop:alimento"%}"  class="col-span-2 max-h-12 w-full object-contain lg:col-span-1 font-semibold  flex items-center p-1 "><span class="align-top material-symbols-outlined pr-2">nutrition</span>Alimentos</a>
                <a href="{% url "shop:agriculture"%}" class="col-span-2 max-h-12 w-full object-contain lg:col-span-1 font-semibold  flex items-center p-1 "><span class="align-top material-symbols-outlined pr-2">agriculture</span>Agricultura</a>
                <a href="{% url "shop:farma"%}"  class="col-span-2 max-h-12 w-full object-contain lg:col-span-1 font-semibold  flex items-center p-1 "><span class="align-top material-symbols-outlined pr-2">vaccines</span>F&aacute;rmacos</a>
                <a href="{% url "shop:cosmetico"%}"  class="col-span-2 max-h-12 w-full object-contain lg:col-span-1 font-semibold  flex items-center p-1 "><span class="align-top material-symbols-outlined pr-2">clean_hands</span>Cosm&eacute;ticos</a>
                <a href="{% url "shop:textil"%}"  class="col-span-2 max-h-12 w-full object-contain lg:col-span-1 font-semibold  flex items-center p-1 "><span class="align-top material-symbols-outlined pr-2">apparel</span>Textil</a>
                <a href="{% url "shop:construc"%}"  class="col-span-2 max-h-12 w-full object-contain lg:col-span-1 font-semibold  flex items-center p-1 "><span class="align-top material-symbols-outlined pr-2">construction</span>Construcci&oacute;n</a>
                <a href="{% url "shop:instrumentos"%}"  class="col-span-2 max-h-12 w-full object-contain lg:col-span-1 font-semibold  flex items-center p-1 "><span class="align-top material-symbols-outlined pr-2">biotech</span>Instrumentos</a>
                <a href="{% url "shop:repuestos"%}"  class="col-span-2 max-h-12 w-full object-contain lg:col-span-1 font-semibold  flex items-center p-1 "><span class="align-top material-symbols-outlined pr-2">precision_manufacturing</span>Repuestos</a>
                <a href="{% url "shop:medio_ambiente"%}"  class="col-span-2 max-h-12 w-full object-contain lg:col-span-1 font-semibold  flex items-center p-1 "><span class="align-top material-symbols-outlined pr-2">eco</span>Medio ambiente</a>


             </div>
            </div>
          </div>

{% endblock %}
