{% extends "shop/base.html" %}
{% load static %}
{% block content %}

 <div class="isolate bg-gray-50 border border-gray-300 rounded-lg mt-5 bg-white px-6 py-12 sm:py-12 lg:px-8">
    <div class="absolute inset-x-0 top-[-10rem] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[-20rem]" aria-hidden="true">
      <div class="relative left-1/2 -z-10 aspect-[1155/678] w-[36.125rem] max-w-none -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-40rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
    </div>




     <div class="mx-auto pb-5 max-w-2xl text-center">
  {% for category in categories %}
  {% if category.id == 5 %}
  <h1 class="text-2xl font-bold tracking-tight text-gray-900 sm:text-4xl">Categor&iacute;a: {{category.name}}</h1> {% endif %}
  {% endfor %}
  </div>
<div class="p-2 relative overflow-x-auto">

<table class="table   md:table-fixed w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400  ">
  <tr class="bg-gray-50">
    <th>Cod.</th>
     <th>Nombre</th>
    <th>Descripci&oacute;n</th>
     <th>Precio</th>
      <th>Didponible</th>
       <th>Actualizado</th>

  </tr>
  {% for product in products %}


{% if product.category.id == 5 %}
  <tr class="odd:bg-white even:bg-green-50">
    <td >{{product.id}}</td>
    <td>{{ product.name }}</td>
    <td>{{ product.description }}</td>
     <td>{{ product.price }}</td>
      <td>{{ product.available }}</td>
       <td>{{ product.updated }}</td>


    {% endif %}
  </tr>
  {% endfor %}
</table>

</div>

{% endblock %}